// color
$primary : #21CDA4;
$co-point : #0B3550;
$co-green : #DEF2ED;
$co-white : #FFF;
$co-black : #303030;
$warning : #8F1111;
$caution : #EB7E3A;

$text-color : #777;
$text-weak : #999;
$line-color : #E2E2E2;
$bg-color : #F7F7F7;
$hash-bg : #F2F2F2;
$tab-bg : #E0E0E0;
$tab-color : #686868;



